.image-upload-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .image-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-card {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }
  
  .image-card img {
    width: 200px; /* Set width as per your requirement */
    height: 200px; /* Set height as per your requirement */
    object-fit: cover;
    border-radius: 8px;
  }
  

  .upload-icon {
    cursor: pointer;
   font-size: 30px;
    color: rgb(92, 45, 5);
  ;
  }
  
 