.home {
  padding: 20px;
   background-image: url("file:///Users/user/Desktop/Urban-agricolture-/my-app/src/Components/Assets/image.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  
}
.one{
  color: rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif;
  width: 20%;
  margin-left: 3%;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.172);
  border-radius: 4%;
  font-size: 130%;
  font-style: normal;
}  
.two{
color: rgb(255, 255, 255);
font-family:Arial, Helvetica, sans-serif;
width: 20%;
margin-left: 40%;
margin-top: -35%;
background-color: rgba(0, 0, 0, 0.172);
border-radius: 4%;
font-size: 130%;
font-style: normal;
height: max-content;

}  
.three{
color: rgb(255, 255, 255);
font-family:Arial, Helvetica, sans-serif;
width: 20%;
margin-left: 77%;
margin-top: -32.5%;
background-color: rgba(0, 0, 0, 0.172);
border-radius: 4%;
font-size: 130%;
font-style:normal;
height: max-content;
}
.one:hover{
  color:rgb(246, 185, 185);
}
.two:hover{
  color:rgb(246, 185, 185);
}
.three:hover{
  color:rgb(246, 185, 185);
}

