.login-page-container {
    background-image: url('https://images.unsplash.com/photo-1500382017468-9049fed747ef?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZmFybXxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px; /* Increase width */
    padding: 20px; /* Adjust padding */
  }
  
  .card-title {
    color: #333;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  .btn {
    border-radius: 5px;
    font-weight: bold;
  }
  
  .alert {
    border-radius: 5px;
  }
  