.Navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px rgb(0, 0, 0);
    position: relative;
     background-image: url("file:///Users/user/Desktop/Urban-agricolture-/my-app/src/Components/Assets/image.png"); 
    background-repeat: no-repeat;
    background-size: cover;


}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
    font-size: 19px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;

}
.nav-menu li:hover {
    background-color: #00000041; 
    border-radius: 20px;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: rgb(217, 217, 217);
}

.p{
    font-size: 190%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border-radius: 700%;
    box-shadow: #d60303;
    border: 20cm;
    align-items: center;
    font-weight: 100;
    color: black;
}

.test{
    color: rgb(8, 7, 7);
    font-size: 130%;
}
#v:hover {
    background-color: #00000041; 
    border-radius: 20px;
}
.t{
    color: rgb(255, 255, 255);
    font-size: 150%;
}